In [26]:
#Step 8 – (optional) log with MLflow (5 min)
import mlflow, mlflow.sklearn
mlflow.set_experiment("ai-sprint")

with mlflow.start_run():
    mlflow.log_param("model", "LogisticRegression-OvR")
    mlflow.log_param("scaler", "StandardScaler")
    mlflow.log_metric("cv_acc_mean", cv_scores.mean())
    mlflow.log_metric("cv_acc_std",  cv_scores.std())
    mlflow.log_metric("test_acc",    accuracy_score(y_test, y_pred))
    mlflow.sklearn.log_model(pipe, "model")

2025/10/25 15:32:02 INFO mlflow.tracking.fluent: Experiment with name 'ai-sprint' does not exist. Creating a new experiment.
2025/10/25 15:32:02 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/10/25 15:32:10 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

In [ ]:
#Step 7 – persist the pipeline (5 min)
import joblib
joblib.dump(pipe, "penguin_logreg_pipeline.pkl")
print("Model saved → penguin_logreg_pipeline.pkl")

Model saved → penguin_logreg_pipeline.pkl

In [24]:
pipe.fit(X_train, y_train)

from sklearn.metrics import accuracy_score, classification_report

y_pred = pipe.predict(X_test)
print("Hold-out accuracy:", accuracy_score(y_test, y_pred))
print("\nDetailed report:\n", classification_report(y_test, y_pred))

Hold-out accuracy: 1.0

Detailed report:
               precision    recall  f1-score   support

      Adelie       1.00      1.00      1.00        30
   Chinstrap       1.00      1.00      1.00        14
      Gentoo       1.00      1.00      1.00        25

    accuracy                           1.00        69
   macro avg       1.00      1.00      1.00        69
weighted avg       1.00      1.00      1.00        69

/home/qili/miniconda3/envs/ai-sprint/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:1281: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.8. Use OneVsRestClassifier(LogisticRegression(..)) instead. Leave it to its default value to avoid this warning.
  warnings.warn(

In [15]:
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(pipe, X_train, y_train, cv=5, scoring='accuracy')
print("5-fold CV accuracy: %.3f ± %.3f" % (cv_scores.mean(), cv_scores.std()))

5-fold CV accuracy: 0.978 ± 0.007

/home/qili/miniconda3/envs/ai-sprint/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:1281: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.8. Use OneVsRestClassifier(LogisticRegression(..)) instead. Leave it to its default value to avoid this warning.
  warnings.warn(
/home/qili/miniconda3/envs/ai-sprint/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:1281: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.8. Use OneVsRestClassifier(LogisticRegression(..)) instead. Leave it to its default value to avoid this warning.
  warnings.warn(
/home/qili/miniconda3/envs/ai-sprint/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:1281: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.8. Use OneVsRestClassifier(LogisticRegression(..)) instead. Leave it to its default value to avoid this warning.
  warnings.warn(
/home/qili/miniconda3/envs/ai-sprint/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:1281: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.8. Use OneVsRestClassifier(LogisticRegression(..)) instead. Leave it to its default value to avoid this warning.
  warnings.warn(
/home/qili/miniconda3/envs/ai-sprint/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:1281: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.8. Use OneVsRestClassifier(LogisticRegression(..)) instead. Leave it to its default value to avoid this warning.
  warnings.warn(

In [16]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('clf',    LogisticRegression(max_iter=1000, multi_class='ovr'))
])

In [17]:
from sklearn.model_selection import train_test_split

X = df_clean[['bill_length_mm', 'bill_depth_mm',
              'flipper_length_mm', 'body_mass_g']]
y = df_clean['species']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y)

print("Train:", X_train.shape, "Test:", X_test.shape)

Train: (273, 4) Test: (69, 4)

In [18]:
df_clean = df.dropna(subset=['species', 'bill_length_mm', 'bill_depth_mm',
                             'flipper_length_mm', 'body_mass_g'])
print("Shape after cleaning:", df_clean.shape)

Shape after cleaning: (342, 7)

In [19]:
# missing values & duplicates
print("Missing per column:\n", df.isna().sum())
print("Duplicates:", df.duplicated().sum())

Missing per column:
 species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64
Duplicates: 0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [21]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv"
df = pd.read_csv(url)
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE